Loading and Sorting

In [1]:
import pandas as pd

# Load the appointments dataset from CSV
df = pd.read_csv('appointments.csv', parse_dates=['ScheduledDay', 'AppointmentDay'])
df

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,...,Neighbourhood_SÃO PEDRO,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,ScheduledDayOfWeek,ScheduledMonth,ScheduledYear,AppointmentDayOfWeek,AppointmentMonth,AppointmentYear
0,2.987250e+13,5642903,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62.0,0,1,0,0,0,...,False,False,False,False,Friday,4,2016,Friday,4,2016
1,5.589978e+14,5642503,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56.0,0,0,0,0,0,...,False,False,False,False,Friday,4,2016,Friday,4,2016
2,4.262960e+12,5642549,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62.0,0,0,0,0,0,...,False,False,False,False,Friday,4,2016,Friday,4,2016
3,8.679510e+11,5642828,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8.0,0,0,0,0,0,...,False,False,False,False,Friday,4,2016,Friday,4,2016
4,8.841190e+12,5642494,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56.0,0,1,1,0,0,...,False,False,False,False,Friday,4,2016,Friday,4,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572130e+12,5651768,2016-05-03 09:15:35+00:00,2016-06-07 00:00:00+00:00,56.0,0,0,0,0,0,...,False,False,False,False,Tuesday,5,2016,Tuesday,6,2016
110523,3.596270e+12,5650093,2016-05-03 07:27:33+00:00,2016-06-07 00:00:00+00:00,51.0,0,0,0,0,0,...,False,False,False,False,Tuesday,5,2016,Tuesday,6,2016
110524,1.557660e+13,5630692,2016-04-27 16:03:52+00:00,2016-06-07 00:00:00+00:00,21.0,0,0,0,0,0,...,False,False,False,False,Wednesday,4,2016,Tuesday,6,2016
110525,9.213490e+13,5630323,2016-04-27 15:09:23+00:00,2016-06-07 00:00:00+00:00,38.0,0,0,0,0,0,...,False,False,False,False,Wednesday,4,2016,Tuesday,6,2016
110526,3.775115e+14,5629448,2016-04-27 13:30:56+00:00,2016-06-07 00:00:00+00:00,54.0,0,0,0,0,0,...,False,False,False,False,Wednesday,4,2016,Tuesday,6,2016

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 100 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   PatientId                                  110527 non-null  float64
 1   AppointmentID                              110527 non-null  int64
 2   ScheduledDay                               110527 non-null  datetime64[ns, UTC]
 3   AppointmentDay                             110527 non-null  datetime64[ns, UTC]
 4   Age                                        110527 non-null  float64
 5   Scholarship                                110527 non-null  int64
 6   Hipertension                               110527 non-null  int64
 7   Diabetes                                   110527 non-null  int64
 8   Alcoholism                                 110527 non-null  int64
 9   Handcap                                    110527 non-null  int64
 10  SMS_received                               110527 non-null  int64
 11  No-show                                    110527 non-null  object
 12  TimeGapDays                                110527 non-null  int64
 13  Gender_M                                   110527 non-null  bool
 14  Neighbourhood_ANDORINHAS                   110527 non-null  bool
 15  Neighbourhood_ANTÔNIO HONÓRIO              110527 non-null  bool
 16  Neighbourhood_ARIOVALDO FAVALESSA          110527 non-null  bool
 17  Neighbourhood_BARRO VERMELHO               110527 non-null  bool
 18  Neighbourhood_BELA VISTA                   110527 non-null  bool
 19  Neighbourhood_BENTO FERREIRA               110527 non-null  bool
 20  Neighbourhood_BOA VISTA                    110527 non-null  bool
 21  Neighbourhood_BONFIM                       110527 non-null  bool
 22  Neighbourhood_CARATOÍRA                    110527 non-null  bool
 23  Neighbourhood_CENTRO                       110527 non-null  bool
 24  Neighbourhood_COMDUSA                      110527 non-null  bool
 25  Neighbourhood_CONQUISTA                    110527 non-null  bool
 26  Neighbourhood_CONSOLAÇÃO                   110527 non-null  bool
 27  Neighbourhood_CRUZAMENTO                   110527 non-null  bool
 28  Neighbourhood_DA PENHA                     110527 non-null  bool
 29  Neighbourhood_DE LOURDES                   110527 non-null  bool
 30  Neighbourhood_DO CABRAL                    110527 non-null  bool
 31  Neighbourhood_DO MOSCOSO                   110527 non-null  bool
 32  Neighbourhood_DO QUADRO                    110527 non-null  bool
 33  Neighbourhood_ENSEADA DO SUÁ               110527 non-null  bool
 34  Neighbourhood_ESTRELINHA                   110527 non-null  bool
 35  Neighbourhood_FONTE GRANDE                 110527 non-null  bool
 36  Neighbourhood_FORTE SÃO JOÃO               110527 non-null  bool
 37  Neighbourhood_FRADINHOS                    110527 non-null  bool
 38  Neighbourhood_GOIABEIRAS                   110527 non-null  bool
 39  Neighbourhood_GRANDE VITÓRIA               110527 non-null  bool
 40  Neighbourhood_GURIGICA                     110527 non-null  bool
 41  Neighbourhood_HORTO                        110527 non-null  bool
 42  Neighbourhood_ILHA DAS CAIEIRAS            110527 non-null  bool
 43  Neighbourhood_ILHA DE SANTA MARIA          110527 non-null  bool
 44  Neighbourhood_ILHA DO BOI                  110527 non-null  bool
 45  Neighbourhood_ILHA DO FRADE                110527 non-null  bool
 46  Neighbourhood_ILHA DO PRÍNCIPE             110527 non-null  bool
 47  Neighbourhood_ILHAS OCEÂNICAS DE TRINDADE  110527 non-null  bool
 48  Neighbourhood_INHANGUETÁ                   110527 non-null  bool
 49  Neighbourhood_ITARARÉ                      110527 non-null  bool
 50  Neighbourhood_JABOUR                       110527 non-null  bool
 51  Neighbourhood_JARDIM CAMBURI               110527 non-null  bool
 52  Neighbourhood_JARDIM DA PENHA              110527 non-null  bool
 53  Neighbourhood_JESUS DE NAZARETH            110527 non-null  bool
 54  Neighbourhood_JOANA D´ARC                  110527 non-null  bool
 55  Neighbourhood_JUCUTUQUARA                  110527 non-null  bool
 56  Neighbourhood_MARIA ORTIZ                  110527 non-null  bool
 57  Neighbourhood_MARUÍPE                      110527 non-null  bool
 58  Neighbourhood_MATA DA PRAIA                110527 non-null  bool
 59  Neighbourhood_MONTE BELO                   110527 non-null  bool
 60  Neighbourhood_MORADA DE CAMBURI            110527 non-null  bool
 61  Neighbourhood_MÁRIO CYPRESTE               110527 non-null  bool
 62  Neighbourhood_NAZARETH                     110527 non-null  bool
 63  Neighbourhood_NOVA PALESTINA               110527 non-null  bool
 64  Neighbourhood_PARQUE INDUSTRIAL            110527 non-null  bool
 65  Neighbourhood_PARQUE MOSCOSO               110527 non-null  bool
 66  Neighbourhood_PIEDADE                      110527 non-null  bool
 67  Neighbourhood_PONTAL DE CAMBURI            110527 non-null  bool
 68  Neighbourhood_PRAIA DO CANTO               110527 non-null  bool
 69  Neighbourhood_PRAIA DO SUÁ                 110527 non-null  bool
 70  Neighbourhood_REDENÇÃO                     110527 non-null  bool
 71  Neighbourhood_REPÚBLICA                    110527 non-null  bool
 72  Neighbourhood_RESISTÊNCIA                  110527 non-null  bool
 73  Neighbourhood_ROMÃO                        110527 non-null  bool
 74  Neighbourhood_SANTA CECÍLIA                110527 non-null  bool
 75  Neighbourhood_SANTA CLARA                  110527 non-null  bool
 76  Neighbourhood_SANTA HELENA                 110527 non-null  bool
 77  Neighbourhood_SANTA LUÍZA                  110527 non-null  bool
 78  Neighbourhood_SANTA LÚCIA                  110527 non-null  bool
 79  Neighbourhood_SANTA MARTHA                 110527 non-null  bool
 80  Neighbourhood_SANTA TEREZA                 110527 non-null  bool
 81  Neighbourhood_SANTO ANDRÉ                  110527 non-null  bool
 82  Neighbourhood_SANTO ANTÔNIO                110527 non-null  bool
 83  Neighbourhood_SANTOS DUMONT                110527 non-null  bool
 84  Neighbourhood_SANTOS REIS                  110527 non-null  bool
 85  Neighbourhood_SEGURANÇA DO LAR             110527 non-null  bool
 86  Neighbourhood_SOLON BORGES                 110527 non-null  bool
 87  Neighbourhood_SÃO BENEDITO                 110527 non-null  bool
 88  Neighbourhood_SÃO CRISTÓVÃO                110527 non-null  bool
 89  Neighbourhood_SÃO JOSÉ                     110527 non-null  bool
 90  Neighbourhood_SÃO PEDRO                    110527 non-null  bool
 91  Neighbourhood_TABUAZEIRO                   110527 non-null  bool
 92  Neighbourhood_UNIVERSITÁRIO                110527 non-null  bool
 93  Neighbourhood_VILA RUBIM                   110527 non-null  bool
 94  ScheduledDayOfWeek                         110527 non-null  object
 95  ScheduledMonth                             110527 non-null  int64
 96  ScheduledYear                              110527 non-null  int64
 97  AppointmentDayOfWeek                       110527 non-null  object
 98  AppointmentMonth                           110527 non-null  int64
 99  AppointmentYear                            110527 non-null  int64
dtypes: bool(81), datetime64[ns, UTC](2), float64(2), int64(12), object(3)
memory usage: 24.6+ MB

In [3]:
# Sort the DataFrame chronologically by Appointment Day (1st priority) and Scheduled Day (2nd priority)
df.sort_values(by=['AppointmentDay', 'ScheduledDay'], inplace=True)

In [4]:
df

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,...,Neighbourhood_SÃO PEDRO,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,ScheduledDayOfWeek,ScheduledMonth,ScheduledYear,AppointmentDayOfWeek,AppointmentMonth,AppointmentYear
954,1.423330e+12,5217179,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,84.0,0,1,1,0,1,...,False,False,False,False,Tuesday,1,2016,Friday,4,2016
953,4.616860e+12,5218520,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,83.0,0,1,0,0,0,...,False,False,False,False,Tuesday,1,2016,Friday,4,2016
959,5.558960e+13,5235449,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,74.0,0,0,0,0,0,...,False,False,False,False,Monday,1,2016,Friday,4,2016
957,9.189690e+13,5235643,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,70.0,0,1,1,0,0,...,False,False,False,False,Monday,1,2016,Friday,4,2016
958,1.534480e+12,5235655,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,87.0,0,0,0,0,0,...,False,False,False,False,Monday,1,2016,Friday,4,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92442,7.292552e+14,5790461,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,54.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016
88146,9.476144e+14,5790464,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,43.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016
88147,3.562480e+11,5790466,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016
87219,2.341320e+11,5790481,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,30.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016
87223,5.237160e+12,5790484,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016

Data Type Conversion

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110527 entries, 954 to 87223
Data columns (total 100 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   PatientId                                  110527 non-null  float64
 1   AppointmentID                              110527 non-null  int64
 2   ScheduledDay                               110527 non-null  datetime64[ns, UTC]
 3   AppointmentDay                             110527 non-null  datetime64[ns, UTC]
 4   Age                                        110527 non-null  float64
 5   Scholarship                                110527 non-null  int64
 6   Hipertension                               110527 non-null  int64
 7   Diabetes                                   110527 non-null  int64
 8   Alcoholism                                 110527 non-null  int64
 9   Handcap                                    110527 non-null  int64
 10  SMS_received                               110527 non-null  int64
 11  No-show                                    110527 non-null  object
 12  TimeGapDays                                110527 non-null  int64
 13  Gender_M                                   110527 non-null  bool
 14  Neighbourhood_ANDORINHAS                   110527 non-null  bool
 15  Neighbourhood_ANTÔNIO HONÓRIO              110527 non-null  bool
 16  Neighbourhood_ARIOVALDO FAVALESSA          110527 non-null  bool
 17  Neighbourhood_BARRO VERMELHO               110527 non-null  bool
 18  Neighbourhood_BELA VISTA                   110527 non-null  bool
 19  Neighbourhood_BENTO FERREIRA               110527 non-null  bool
 20  Neighbourhood_BOA VISTA                    110527 non-null  bool
 21  Neighbourhood_BONFIM                       110527 non-null  bool
 22  Neighbourhood_CARATOÍRA                    110527 non-null  bool
 23  Neighbourhood_CENTRO                       110527 non-null  bool
 24  Neighbourhood_COMDUSA                      110527 non-null  bool
 25  Neighbourhood_CONQUISTA                    110527 non-null  bool
 26  Neighbourhood_CONSOLAÇÃO                   110527 non-null  bool
 27  Neighbourhood_CRUZAMENTO                   110527 non-null  bool
 28  Neighbourhood_DA PENHA                     110527 non-null  bool
 29  Neighbourhood_DE LOURDES                   110527 non-null  bool
 30  Neighbourhood_DO CABRAL                    110527 non-null  bool
 31  Neighbourhood_DO MOSCOSO                   110527 non-null  bool
 32  Neighbourhood_DO QUADRO                    110527 non-null  bool
 33  Neighbourhood_ENSEADA DO SUÁ               110527 non-null  bool
 34  Neighbourhood_ESTRELINHA                   110527 non-null  bool
 35  Neighbourhood_FONTE GRANDE                 110527 non-null  bool
 36  Neighbourhood_FORTE SÃO JOÃO               110527 non-null  bool
 37  Neighbourhood_FRADINHOS                    110527 non-null  bool
 38  Neighbourhood_GOIABEIRAS                   110527 non-null  bool
 39  Neighbourhood_GRANDE VITÓRIA               110527 non-null  bool
 40  Neighbourhood_GURIGICA                     110527 non-null  bool
 41  Neighbourhood_HORTO                        110527 non-null  bool
 42  Neighbourhood_ILHA DAS CAIEIRAS            110527 non-null  bool
 43  Neighbourhood_ILHA DE SANTA MARIA          110527 non-null  bool
 44  Neighbourhood_ILHA DO BOI                  110527 non-null  bool
 45  Neighbourhood_ILHA DO FRADE                110527 non-null  bool
 46  Neighbourhood_ILHA DO PRÍNCIPE             110527 non-null  bool
 47  Neighbourhood_ILHAS OCEÂNICAS DE TRINDADE  110527 non-null  bool
 48  Neighbourhood_INHANGUETÁ                   110527 non-null  bool
 49  Neighbourhood_ITARARÉ                      110527 non-null  bool
 50  Neighbourhood_JABOUR                       110527 non-null  bool
 51  Neighbourhood_JARDIM CAMBURI               110527 non-null  bool
 52  Neighbourhood_JARDIM DA PENHA              110527 non-null  bool
 53  Neighbourhood_JESUS DE NAZARETH            110527 non-null  bool
 54  Neighbourhood_JOANA D´ARC                  110527 non-null  bool
 55  Neighbourhood_JUCUTUQUARA                  110527 non-null  bool
 56  Neighbourhood_MARIA ORTIZ                  110527 non-null  bool
 57  Neighbourhood_MARUÍPE                      110527 non-null  bool
 58  Neighbourhood_MATA DA PRAIA                110527 non-null  bool
 59  Neighbourhood_MONTE BELO                   110527 non-null  bool
 60  Neighbourhood_MORADA DE CAMBURI            110527 non-null  bool
 61  Neighbourhood_MÁRIO CYPRESTE               110527 non-null  bool
 62  Neighbourhood_NAZARETH                     110527 non-null  bool
 63  Neighbourhood_NOVA PALESTINA               110527 non-null  bool
 64  Neighbourhood_PARQUE INDUSTRIAL            110527 non-null  bool
 65  Neighbourhood_PARQUE MOSCOSO               110527 non-null  bool
 66  Neighbourhood_PIEDADE                      110527 non-null  bool
 67  Neighbourhood_PONTAL DE CAMBURI            110527 non-null  bool
 68  Neighbourhood_PRAIA DO CANTO               110527 non-null  bool
 69  Neighbourhood_PRAIA DO SUÁ                 110527 non-null  bool
 70  Neighbourhood_REDENÇÃO                     110527 non-null  bool
 71  Neighbourhood_REPÚBLICA                    110527 non-null  bool
 72  Neighbourhood_RESISTÊNCIA                  110527 non-null  bool
 73  Neighbourhood_ROMÃO                        110527 non-null  bool
 74  Neighbourhood_SANTA CECÍLIA                110527 non-null  bool
 75  Neighbourhood_SANTA CLARA                  110527 non-null  bool
 76  Neighbourhood_SANTA HELENA                 110527 non-null  bool
 77  Neighbourhood_SANTA LUÍZA                  110527 non-null  bool
 78  Neighbourhood_SANTA LÚCIA                  110527 non-null  bool
 79  Neighbourhood_SANTA MARTHA                 110527 non-null  bool
 80  Neighbourhood_SANTA TEREZA                 110527 non-null  bool
 81  Neighbourhood_SANTO ANDRÉ                  110527 non-null  bool
 82  Neighbourhood_SANTO ANTÔNIO                110527 non-null  bool
 83  Neighbourhood_SANTOS DUMONT                110527 non-null  bool
 84  Neighbourhood_SANTOS REIS                  110527 non-null  bool
 85  Neighbourhood_SEGURANÇA DO LAR             110527 non-null  bool
 86  Neighbourhood_SOLON BORGES                 110527 non-null  bool
 87  Neighbourhood_SÃO BENEDITO                 110527 non-null  bool
 88  Neighbourhood_SÃO CRISTÓVÃO                110527 non-null  bool
 89  Neighbourhood_SÃO JOSÉ                     110527 non-null  bool
 90  Neighbourhood_SÃO PEDRO                    110527 non-null  bool
 91  Neighbourhood_TABUAZEIRO                   110527 non-null  bool
 92  Neighbourhood_UNIVERSITÁRIO                110527 non-null  bool
 93  Neighbourhood_VILA RUBIM                   110527 non-null  bool
 94  ScheduledDayOfWeek                         110527 non-null  object
 95  ScheduledMonth                             110527 non-null  int64
 96  ScheduledYear                              110527 non-null  int64
 97  AppointmentDayOfWeek                       110527 non-null  object
 98  AppointmentMonth                           110527 non-null  int64
 99  AppointmentYear                            110527 non-null  int64
dtypes: bool(81), datetime64[ns, UTC](2), float64(2), int64(12), object(3)
memory usage: 25.4+ MB

In [6]:
df['PatientId'] = df['PatientId'].apply(lambda x: str(int(x)))
df

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,...,Neighbourhood_SÃO PEDRO,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,ScheduledDayOfWeek,ScheduledMonth,ScheduledYear,AppointmentDayOfWeek,AppointmentMonth,AppointmentYear
954,1423330000000,5217179,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,84.0,0,1,1,0,1,...,False,False,False,False,Tuesday,1,2016,Friday,4,2016
953,4616860000000,5218520,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,83.0,0,1,0,0,0,...,False,False,False,False,Tuesday,1,2016,Friday,4,2016
959,55589600000000,5235449,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,74.0,0,0,0,0,0,...,False,False,False,False,Monday,1,2016,Friday,4,2016
957,91896900000000,5235643,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,70.0,0,1,1,0,0,...,False,False,False,False,Monday,1,2016,Friday,4,2016
958,1534480000000,5235655,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,87.0,0,0,0,0,0,...,False,False,False,False,Monday,1,2016,Friday,4,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92442,729255235141745,5790461,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,54.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016
88146,947614361749238,5790464,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,43.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016
88147,356248000000,5790466,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016
87219,234132000000,5790481,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,30.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016
87223,5237160000000,5790484,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016

In [7]:
# df.PatientId = df.PatientId.astype("int64").astype("str") # alternative solution

__Prompt:__ Convert the "No-show" column into a numerical column (0 for "No" and 1 for "Yes"). What´s the average no-show rate?

In [8]:
df["No-show"]

954      No
953      No
959      No
957      No
958      No
         ..
92442    No
88146    No
88147    No
87219    No
87223    No
Name: No-show, Length: 110527, dtype: object

In [9]:
# Assuming df is your DataFrame from the previous code
df['No-show'] = df['No-show'].map({'No': 0, 'Yes': 1})

# Calculate the average no-show rate
average_no_show_rate = df['No-show'].mean()

# Display the average no-show rate
print(f"Average No-show Rate: {average_no_show_rate:.2%}")

Average No-show Rate: 20.19%

In [10]:
df

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,...,Neighbourhood_SÃO PEDRO,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,ScheduledDayOfWeek,ScheduledMonth,ScheduledYear,AppointmentDayOfWeek,AppointmentMonth,AppointmentYear
954,1423330000000,5217179,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,84.0,0,1,1,0,1,...,False,False,False,False,Tuesday,1,2016,Friday,4,2016
953,4616860000000,5218520,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,83.0,0,1,0,0,0,...,False,False,False,False,Tuesday,1,2016,Friday,4,2016
959,55589600000000,5235449,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,74.0,0,0,0,0,0,...,False,False,False,False,Monday,1,2016,Friday,4,2016
957,91896900000000,5235643,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,70.0,0,1,1,0,0,...,False,False,False,False,Monday,1,2016,Friday,4,2016
958,1534480000000,5235655,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,87.0,0,0,0,0,0,...,False,False,False,False,Monday,1,2016,Friday,4,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92442,729255235141745,5790461,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,54.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016
88146,947614361749238,5790464,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,43.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016
88147,356248000000,5790466,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016
87219,234132000000,5790481,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,30.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016
87223,5237160000000,5790484,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,False,False,False,False,Wednesday,6,2016,Wednesday,6,2016

Aggregate all "Neighbourhood"-dummy columns into one column with the neighbourhood names (reversing one-hot-encoding). Then, delete all dummy variables. What´s the most frequent value in "Neighbourhoods"?

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110527 entries, 954 to 87223
Data columns (total 100 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   PatientId                                  110527 non-null  object
 1   AppointmentID                              110527 non-null  int64
 2   ScheduledDay                               110527 non-null  datetime64[ns, UTC]
 3   AppointmentDay                             110527 non-null  datetime64[ns, UTC]
 4   Age                                        110527 non-null  float64
 5   Scholarship                                110527 non-null  int64
 6   Hipertension                               110527 non-null  int64
 7   Diabetes                                   110527 non-null  int64
 8   Alcoholism                                 110527 non-null  int64
 9   Handcap                                    110527 non-null  int64
 10  SMS_received                               110527 non-null  int64
 11  No-show                                    110527 non-null  int64
 12  TimeGapDays                                110527 non-null  int64
 13  Gender_M                                   110527 non-null  bool
 14  Neighbourhood_ANDORINHAS                   110527 non-null  bool
 15  Neighbourhood_ANTÔNIO HONÓRIO              110527 non-null  bool
 16  Neighbourhood_ARIOVALDO FAVALESSA          110527 non-null  bool
 17  Neighbourhood_BARRO VERMELHO               110527 non-null  bool
 18  Neighbourhood_BELA VISTA                   110527 non-null  bool
 19  Neighbourhood_BENTO FERREIRA               110527 non-null  bool
 20  Neighbourhood_BOA VISTA                    110527 non-null  bool
 21  Neighbourhood_BONFIM                       110527 non-null  bool
 22  Neighbourhood_CARATOÍRA                    110527 non-null  bool
 23  Neighbourhood_CENTRO                       110527 non-null  bool
 24  Neighbourhood_COMDUSA                      110527 non-null  bool
 25  Neighbourhood_CONQUISTA                    110527 non-null  bool
 26  Neighbourhood_CONSOLAÇÃO                   110527 non-null  bool
 27  Neighbourhood_CRUZAMENTO                   110527 non-null  bool
 28  Neighbourhood_DA PENHA                     110527 non-null  bool
 29  Neighbourhood_DE LOURDES                   110527 non-null  bool
 30  Neighbourhood_DO CABRAL                    110527 non-null  bool
 31  Neighbourhood_DO MOSCOSO                   110527 non-null  bool
 32  Neighbourhood_DO QUADRO                    110527 non-null  bool
 33  Neighbourhood_ENSEADA DO SUÁ               110527 non-null  bool
 34  Neighbourhood_ESTRELINHA                   110527 non-null  bool
 35  Neighbourhood_FONTE GRANDE                 110527 non-null  bool
 36  Neighbourhood_FORTE SÃO JOÃO               110527 non-null  bool
 37  Neighbourhood_FRADINHOS                    110527 non-null  bool
 38  Neighbourhood_GOIABEIRAS                   110527 non-null  bool
 39  Neighbourhood_GRANDE VITÓRIA               110527 non-null  bool
 40  Neighbourhood_GURIGICA                     110527 non-null  bool
 41  Neighbourhood_HORTO                        110527 non-null  bool
 42  Neighbourhood_ILHA DAS CAIEIRAS            110527 non-null  bool
 43  Neighbourhood_ILHA DE SANTA MARIA          110527 non-null  bool
 44  Neighbourhood_ILHA DO BOI                  110527 non-null  bool
 45  Neighbourhood_ILHA DO FRADE                110527 non-null  bool
 46  Neighbourhood_ILHA DO PRÍNCIPE             110527 non-null  bool
 47  Neighbourhood_ILHAS OCEÂNICAS DE TRINDADE  110527 non-null  bool
 48  Neighbourhood_INHANGUETÁ                   110527 non-null  bool
 49  Neighbourhood_ITARARÉ                      110527 non-null  bool
 50  Neighbourhood_JABOUR                       110527 non-null  bool
 51  Neighbourhood_JARDIM CAMBURI               110527 non-null  bool
 52  Neighbourhood_JARDIM DA PENHA              110527 non-null  bool
 53  Neighbourhood_JESUS DE NAZARETH            110527 non-null  bool
 54  Neighbourhood_JOANA D´ARC                  110527 non-null  bool
 55  Neighbourhood_JUCUTUQUARA                  110527 non-null  bool
 56  Neighbourhood_MARIA ORTIZ                  110527 non-null  bool
 57  Neighbourhood_MARUÍPE                      110527 non-null  bool
 58  Neighbourhood_MATA DA PRAIA                110527 non-null  bool
 59  Neighbourhood_MONTE BELO                   110527 non-null  bool
 60  Neighbourhood_MORADA DE CAMBURI            110527 non-null  bool
 61  Neighbourhood_MÁRIO CYPRESTE               110527 non-null  bool
 62  Neighbourhood_NAZARETH                     110527 non-null  bool
 63  Neighbourhood_NOVA PALESTINA               110527 non-null  bool
 64  Neighbourhood_PARQUE INDUSTRIAL            110527 non-null  bool
 65  Neighbourhood_PARQUE MOSCOSO               110527 non-null  bool
 66  Neighbourhood_PIEDADE                      110527 non-null  bool
 67  Neighbourhood_PONTAL DE CAMBURI            110527 non-null  bool
 68  Neighbourhood_PRAIA DO CANTO               110527 non-null  bool
 69  Neighbourhood_PRAIA DO SUÁ                 110527 non-null  bool
 70  Neighbourhood_REDENÇÃO                     110527 non-null  bool
 71  Neighbourhood_REPÚBLICA                    110527 non-null  bool
 72  Neighbourhood_RESISTÊNCIA                  110527 non-null  bool
 73  Neighbourhood_ROMÃO                        110527 non-null  bool
 74  Neighbourhood_SANTA CECÍLIA                110527 non-null  bool
 75  Neighbourhood_SANTA CLARA                  110527 non-null  bool
 76  Neighbourhood_SANTA HELENA                 110527 non-null  bool
 77  Neighbourhood_SANTA LUÍZA                  110527 non-null  bool
 78  Neighbourhood_SANTA LÚCIA                  110527 non-null  bool
 79  Neighbourhood_SANTA MARTHA                 110527 non-null  bool
 80  Neighbourhood_SANTA TEREZA                 110527 non-null  bool
 81  Neighbourhood_SANTO ANDRÉ                  110527 non-null  bool
 82  Neighbourhood_SANTO ANTÔNIO                110527 non-null  bool
 83  Neighbourhood_SANTOS DUMONT                110527 non-null  bool
 84  Neighbourhood_SANTOS REIS                  110527 non-null  bool
 85  Neighbourhood_SEGURANÇA DO LAR             110527 non-null  bool
 86  Neighbourhood_SOLON BORGES                 110527 non-null  bool
 87  Neighbourhood_SÃO BENEDITO                 110527 non-null  bool
 88  Neighbourhood_SÃO CRISTÓVÃO                110527 non-null  bool
 89  Neighbourhood_SÃO JOSÉ                     110527 non-null  bool
 90  Neighbourhood_SÃO PEDRO                    110527 non-null  bool
 91  Neighbourhood_TABUAZEIRO                   110527 non-null  bool
 92  Neighbourhood_UNIVERSITÁRIO                110527 non-null  bool
 93  Neighbourhood_VILA RUBIM                   110527 non-null  bool
 94  ScheduledDayOfWeek                         110527 non-null  object
 95  ScheduledMonth                             110527 non-null  int64
 96  ScheduledYear                              110527 non-null  int64
 97  AppointmentDayOfWeek                       110527 non-null  object
 98  AppointmentMonth                           110527 non-null  int64
 99  AppointmentYear                            110527 non-null  int64
dtypes: bool(81), datetime64[ns, UTC](2), float64(1), int64(13), object(3)
memory usage: 25.4+ MB

In [12]:
# Create a new column 'Neighbourhood_Name' by combining the dummy columns
neighbourhood_cols = [col for col in df.columns if col.startswith('Neighbourhood_')]
df['Neighbourhood_Name'] = df[neighbourhood_cols].idxmax(axis=1).str.replace('Neighbourhood_', '')

In [13]:
df

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,...,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,ScheduledDayOfWeek,ScheduledMonth,ScheduledYear,AppointmentDayOfWeek,AppointmentMonth,AppointmentYear,Neighbourhood_Name
954,1423330000000,5217179,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,84.0,0,1,1,0,1,...,False,False,False,Tuesday,1,2016,Friday,4,2016,SANTO ANDRÉ
953,4616860000000,5218520,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,83.0,0,1,0,0,0,...,False,False,False,Tuesday,1,2016,Friday,4,2016,REDENÇÃO
959,55589600000000,5235449,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,74.0,0,0,0,0,0,...,False,False,False,Monday,1,2016,Friday,4,2016,MONTE BELO
957,91896900000000,5235643,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,70.0,0,1,1,0,0,...,False,False,False,Monday,1,2016,Friday,4,2016,GURIGICA
958,1534480000000,5235655,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,87.0,0,0,0,0,0,...,False,False,False,Monday,1,2016,Friday,4,2016,JUCUTUQUARA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92442,729255235141745,5790461,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,54.0,0,0,0,0,0,...,False,False,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
88146,947614361749238,5790464,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,43.0,0,0,0,0,0,...,False,False,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
88147,356248000000,5790466,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,False,False,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
87219,234132000000,5790481,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,30.0,0,0,0,0,0,...,False,False,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
87223,5237160000000,5790484,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,False,False,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI

In [14]:
df.Neighbourhood_Name.value_counts()

JARDIM CAMBURI                 7717
MARIA ORTIZ                    5805
RESISTÊNCIA                    4431
JARDIM DA PENHA                3877
ITARARÉ                        3514
                               ...
PONTAL DE CAMBURI                69
ILHA DO BOI                      35
ILHA DO FRADE                    10
ILHAS OCEÂNICAS DE TRINDADE       2
PARQUE INDUSTRIAL                 1
Name: Neighbourhood_Name, Length: 80, dtype: int64

In [15]:
df[df.Neighbourhood_Name.isna()]

Empty DataFrame
Columns: [PatientId, AppointmentID, ScheduledDay, AppointmentDay, Age, Scholarship, Hipertension, Diabetes, Alcoholism, Handcap, SMS_received, No-show, TimeGapDays, Gender_M, Neighbourhood_ANDORINHAS, Neighbourhood_ANTÔNIO HONÓRIO, Neighbourhood_ARIOVALDO FAVALESSA, Neighbourhood_BARRO VERMELHO, Neighbourhood_BELA VISTA, Neighbourhood_BENTO FERREIRA, Neighbourhood_BOA VISTA, Neighbourhood_BONFIM, Neighbourhood_CARATOÍRA, Neighbourhood_CENTRO, Neighbourhood_COMDUSA, Neighbourhood_CONQUISTA, Neighbourhood_CONSOLAÇÃO, Neighbourhood_CRUZAMENTO, Neighbourhood_DA PENHA, Neighbourhood_DE LOURDES, Neighbourhood_DO CABRAL, Neighbourhood_DO MOSCOSO, Neighbourhood_DO QUADRO, Neighbourhood_ENSEADA DO SUÁ, Neighbourhood_ESTRELINHA, Neighbourhood_FONTE GRANDE, Neighbourhood_FORTE SÃO JOÃO, Neighbourhood_FRADINHOS, Neighbourhood_GOIABEIRAS, Neighbourhood_GRANDE VITÓRIA, Neighbourhood_GURIGICA, Neighbourhood_HORTO, Neighbourhood_ILHA DAS CAIEIRAS, Neighbourhood_ILHA DE SANTA MARIA, Neighbourhood_ILHA DO BOI, Neighbourhood_ILHA DO FRADE, Neighbourhood_ILHA DO PRÍNCIPE, Neighbourhood_ILHAS OCEÂNICAS DE TRINDADE, Neighbourhood_INHANGUETÁ, Neighbourhood_ITARARÉ, Neighbourhood_JABOUR, Neighbourhood_JARDIM CAMBURI, Neighbourhood_JARDIM DA PENHA, Neighbourhood_JESUS DE NAZARETH, Neighbourhood_JOANA D´ARC, Neighbourhood_JUCUTUQUARA, Neighbourhood_MARIA ORTIZ, Neighbourhood_MARUÍPE, Neighbourhood_MATA DA PRAIA, Neighbourhood_MONTE BELO, Neighbourhood_MORADA DE CAMBURI, Neighbourhood_MÁRIO CYPRESTE, Neighbourhood_NAZARETH, Neighbourhood_NOVA PALESTINA, Neighbourhood_PARQUE INDUSTRIAL, Neighbourhood_PARQUE MOSCOSO, Neighbourhood_PIEDADE, Neighbourhood_PONTAL DE CAMBURI, Neighbourhood_PRAIA DO CANTO, Neighbourhood_PRAIA DO SUÁ, Neighbourhood_REDENÇÃO, Neighbourhood_REPÚBLICA, Neighbourhood_RESISTÊNCIA, Neighbourhood_ROMÃO, Neighbourhood_SANTA CECÍLIA, Neighbourhood_SANTA CLARA, Neighbourhood_SANTA HELENA, Neighbourhood_SANTA LUÍZA, Neighbourhood_SANTA LÚCIA, Neighbourhood_SANTA MARTHA, Neighbourhood_SANTA TEREZA, Neighbourhood_SANTO ANDRÉ, Neighbourhood_SANTO ANTÔNIO, Neighbourhood_SANTOS DUMONT, Neighbourhood_SANTOS REIS, Neighbourhood_SEGURANÇA DO LAR, Neighbourhood_SOLON BORGES, Neighbourhood_SÃO BENEDITO, Neighbourhood_SÃO CRISTÓVÃO, Neighbourhood_SÃO JOSÉ, Neighbourhood_SÃO PEDRO, Neighbourhood_TABUAZEIRO, Neighbourhood_UNIVERSITÁRIO, Neighbourhood_VILA RUBIM, ScheduledDayOfWeek, ScheduledMonth, ScheduledYear, AppointmentDayOfWeek, AppointmentMonth, AppointmentYear, ...]
Index: []

[0 rows x 101 columns]

In [16]:
# Drop the dummy variables columns
df.drop(neighbourhood_cols, axis=1, inplace=True)

In [17]:
df

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,...,No-show,TimeGapDays,Gender_M,ScheduledDayOfWeek,ScheduledMonth,ScheduledYear,AppointmentDayOfWeek,AppointmentMonth,AppointmentYear,Neighbourhood_Name
954,1423330000000,5217179,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,84.0,0,1,1,0,1,...,0,114,True,Tuesday,1,2016,Friday,4,2016,SANTO ANDRÉ
953,4616860000000,5218520,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,83.0,0,1,0,0,0,...,0,114,False,Tuesday,1,2016,Friday,4,2016,REDENÇÃO
959,55589600000000,5235449,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,74.0,0,0,0,0,0,...,0,108,False,Monday,1,2016,Friday,4,2016,MONTE BELO
957,91896900000000,5235643,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,70.0,0,1,1,0,0,...,0,108,False,Monday,1,2016,Friday,4,2016,GURIGICA
958,1534480000000,5235655,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,87.0,0,0,0,0,0,...,0,108,False,Monday,1,2016,Friday,4,2016,JUCUTUQUARA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92442,729255235141745,5790461,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,54.0,0,0,0,0,0,...,0,-1,True,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
88146,947614361749238,5790464,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,43.0,0,0,0,0,0,...,0,-1,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
88147,356248000000,5790466,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,0,-1,True,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
87219,234132000000,5790481,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,30.0,0,0,0,0,0,...,0,-1,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
87223,5237160000000,5790484,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,0,-1,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI

In [18]:
# Find the most frequent value in 'Neighbourhood_Name'
most_frequent_neighbourhood = df['Neighbourhood_Name'].mode().iloc[0]

In [19]:
# Display the most frequent neighborhood
print(f"The most frequent neighborhood is: {most_frequent_neighbourhood}")

The most frequent neighborhood is: JARDIM CAMBURI

In [20]:
# Rename the column "Neighbourhood_Name" to "Neighbourhood"
df.rename(columns={'Neighbourhood_Name': 'Neighbourhood'}, inplace=True)

In [21]:
df

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,...,No-show,TimeGapDays,Gender_M,ScheduledDayOfWeek,ScheduledMonth,ScheduledYear,AppointmentDayOfWeek,AppointmentMonth,AppointmentYear,Neighbourhood
954,1423330000000,5217179,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,84.0,0,1,1,0,1,...,0,114,True,Tuesday,1,2016,Friday,4,2016,SANTO ANDRÉ
953,4616860000000,5218520,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,83.0,0,1,0,0,0,...,0,114,False,Tuesday,1,2016,Friday,4,2016,REDENÇÃO
959,55589600000000,5235449,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,74.0,0,0,0,0,0,...,0,108,False,Monday,1,2016,Friday,4,2016,MONTE BELO
957,91896900000000,5235643,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,70.0,0,1,1,0,0,...,0,108,False,Monday,1,2016,Friday,4,2016,GURIGICA
958,1534480000000,5235655,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,87.0,0,0,0,0,0,...,0,108,False,Monday,1,2016,Friday,4,2016,JUCUTUQUARA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92442,729255235141745,5790461,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,54.0,0,0,0,0,0,...,0,-1,True,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
88146,947614361749238,5790464,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,43.0,0,0,0,0,0,...,0,-1,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
88147,356248000000,5790466,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,0,-1,True,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
87219,234132000000,5790481,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,30.0,0,0,0,0,0,...,0,-1,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
87223,5237160000000,5790484,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,0,-1,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI

### Save DF locally

In [22]:
#df.to_csv("appointments2.csv", index = False)

In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("appointments2.csv", parse_dates=["ScheduledDay", "AppointmentDay"])
df

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,...,No-show,TimeGapDays,Gender_M,ScheduledDayOfWeek,ScheduledMonth,ScheduledYear,AppointmentDayOfWeek,AppointmentMonth,AppointmentYear,Neighbourhood
0,1423330000000,5217179,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,84.0,0,1,1,0,1,...,0,114,True,Tuesday,1,2016,Friday,4,2016,SANTO ANDRÉ
1,4616860000000,5218520,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,83.0,0,1,0,0,0,...,0,114,False,Tuesday,1,2016,Friday,4,2016,REDENÇÃO
2,55589600000000,5235449,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,74.0,0,0,0,0,0,...,0,108,False,Monday,1,2016,Friday,4,2016,MONTE BELO
3,91896900000000,5235643,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,70.0,0,1,1,0,0,...,0,108,False,Monday,1,2016,Friday,4,2016,GURIGICA
4,1534480000000,5235655,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,87.0,0,0,0,0,0,...,0,108,False,Monday,1,2016,Friday,4,2016,JUCUTUQUARA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,729255235141745,5790461,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,54.0,0,0,0,0,0,...,0,-1,True,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
110523,947614361749238,5790464,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,43.0,0,0,0,0,0,...,0,-1,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
110524,356248000000,5790466,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,0,-1,True,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
110525,234132000000,5790481,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,30.0,0,0,0,0,0,...,0,-1,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI
110526,5237160000000,5790484,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,27.0,0,0,0,0,0,...,0,-1,False,Wednesday,6,2016,Wednesday,6,2016,JARDIM CAMBURI

"No-show", "SMS_received" "AppointmentID", "PatientId", "Age", "Gender_M", "Scholarship", "Hipertension", "Diabetes", "Alcoholism", "Handcap", "Neighborhood", "ScheduledDay", "AppointmentDay", "TimeGapDays" <br>
Update df and show the Pandas Code!

In [25]:
# Selecting and reordering the columns
selected_columns = [
    "No-show", "SMS_received", "AppointmentID", "PatientId", "Age", "Gender_M", 
    "Scholarship", "Hipertension", "Diabetes", "Alcoholism", "Handcap", 
    "Neighbourhood", "ScheduledDay", "AppointmentDay", "TimeGapDays"
]

df = df[selected_columns].copy()

In [26]:
df

,No-show,SMS_received,AppointmentID,PatientId,Age,Gender_M,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,Neighbourhood,ScheduledDay,AppointmentDay,TimeGapDays
0,0,1,5217179,1423330000000,84.0,True,0,1,1,0,1,SANTO ANDRÉ,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,114
1,0,1,5218520,4616860000000,83.0,False,0,1,0,0,0,REDENÇÃO,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,114
2,0,1,5235449,55589600000000,74.0,False,0,0,0,0,0,MONTE BELO,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,108
3,0,1,5235643,91896900000000,70.0,False,0,1,1,0,0,GURIGICA,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,108
4,0,1,5235655,1534480000000,87.0,False,0,0,0,0,0,JUCUTUQUARA,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,0,0,5790461,729255235141745,54.0,True,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,-1
110523,0,0,5790464,947614361749238,43.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,-1
110524,0,0,5790466,356248000000,27.0,True,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,-1
110525,0,0,5790481,234132000000,30.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,-1
110526,0,0,5790484,5237160000000,27.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,-1

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   No-show         110527 non-null  int64
 1   SMS_received    110527 non-null  int64
 2   AppointmentID   110527 non-null  int64
 3   PatientId       110527 non-null  int64
 4   Age             110527 non-null  float64
 5   Gender_M        110527 non-null  bool
 6   Scholarship     110527 non-null  int64
 7   Hipertension    110527 non-null  int64
 8   Diabetes        110527 non-null  int64
 9   Alcoholism      110527 non-null  int64
 10  Handcap         110527 non-null  int64
 11  Neighbourhood   110527 non-null  object
 12  ScheduledDay    110527 non-null  datetime64[ns, UTC]
 13  AppointmentDay  110527 non-null  datetime64[ns, UTC]
 14  TimeGapDays     110527 non-null  int64
dtypes: bool(1), datetime64[ns, UTC](2), float64(1), int64(10), object(1)
memory usage: 11.9+ MB

Unique and most frequent values

Determine the number of unique patients in the dataset. Extract the patient with the highest number of appointments. How many appointments did he/she have?

In [28]:
# Determine the number of unique patients
unique_patients = df['PatientId'].nunique()

In [29]:
unique_patients

61779

In [30]:
appointments_count = df['PatientId'].value_counts()

In [31]:
appointments_count

822145925426128    88
99637671331        84
26886100000000     70
33534800000000     65
871374938638855    62
                   ..
54792300000000      1
699552000000        1
59324100000000      1
2468110000000       1
5237160000000       1
Name: PatientId, Length: 61779, dtype: int64

In [32]:
highest_appointments_patient = appointments_count.idxmax()
highest_appointments_count = appointments_count.max()

print("Number of unique patients:", unique_patients)
print("Patient with the highest number of appointments:")
print("Patient ID:", highest_appointments_patient)
print("Number of Appointments:", highest_appointments_count)

Number of unique patients: 61779
Patient with the highest number of appointments:
Patient ID: 822145925426128
Number of Appointments: 88

Grouping and Aggregating DataFrames

Aggregate the appointments Dataset and create a patients dataset (variable name: patients) with one row for each unique patient. The new patients dataset should include the following information for each patient:<br>
- Age
- Scholarship
- Hipertension
- Diabetes
- Alcoholism
- Handcap
- mean TimeGapDays
- Gender
- number of Appointments 
- number of SMS_received
- number of No-shows
- No-show rate (calculate separately based on number of No-shows)

In [33]:
# Group by 'PatientId' and aggregate the information for each patient
patients = df.groupby('PatientId').agg({
    'Age': 'mean',
    'Scholarship': 'first',
    'Hipertension': 'first',
    'Diabetes': 'first',
    'Alcoholism': 'first',
    'Handcap': 'first',
    'TimeGapDays': 'mean',
    'Gender_M': 'first',
    'AppointmentID': 'count',
    'SMS_received': 'sum',
    'No-show': 'sum',
}).reset_index()

In [34]:
patients

,PatientId,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,TimeGapDays,Gender_M,AppointmentID,SMS_received,No-show
0,39217,44.0,0,0,0,0,0,2.0,False,1,0,0
1,43741,39.0,0,0,1,0,0,-1.0,True,1,0,0
2,93779,33.0,0,0,0,0,0,-1.0,False,1,0,0
3,141724,12.0,0,0,0,0,0,2.0,True,1,0,0
4,537615,14.0,0,0,0,0,0,6.0,False,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
61774,999931985292928,90.0,0,0,0,0,0,1.8,True,5,2,0
61775,999934989273974,5.0,0,0,0,0,0,-1.0,True,1,0,0
61776,999946536742891,65.0,1,1,0,0,0,-1.0,True,1,0,0
61777,999968578354866,81.0,0,0,0,0,0,-1.0,False,1,0,0
61778,999981631772427,1.0,0,0,0,0,0,-1.0,False,1,0,0

In [35]:
# Rename columns for clarity
patients.rename(columns={
    'Age': 'Mean_Age',
    'Scholarship': 'Scholarship',
    'Hipertension': 'Hypertension',
    'Diabetes': 'Diabetes',
    'Alcoholism': 'Alcoholism',
    'Handcap': 'Handicap',
    'TimeGapDays': 'Mean_TimeGapDays',
    'Gender_M': 'Gender',
    'AppointmentID': 'Number_of_Appointments',
    'SMS_received': 'Number_of_SMS_received',
    'No-show': 'Number_of_No_shows',
}, inplace=True)

In [36]:
patients

,PatientId,Mean_Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,Mean_TimeGapDays,Gender,Number_of_Appointments,Number_of_SMS_received,Number_of_No_shows
0,39217,44.0,0,0,0,0,0,2.0,False,1,0,0
1,43741,39.0,0,0,1,0,0,-1.0,True,1,0,0
2,93779,33.0,0,0,0,0,0,-1.0,False,1,0,0
3,141724,12.0,0,0,0,0,0,2.0,True,1,0,0
4,537615,14.0,0,0,0,0,0,6.0,False,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
61774,999931985292928,90.0,0,0,0,0,0,1.8,True,5,2,0
61775,999934989273974,5.0,0,0,0,0,0,-1.0,True,1,0,0
61776,999946536742891,65.0,1,1,0,0,0,-1.0,True,1,0,0
61777,999968578354866,81.0,0,0,0,0,0,-1.0,False,1,0,0
61778,999981631772427,1.0,0,0,0,0,0,-1.0,False,1,0,0

In [37]:
# Calculate the No-show rate based on the number of appointments and no-shows
patients['No_show_rate'] = patients['Number_of_No_shows'] / patients['Number_of_Appointments']

In [38]:
patients

,PatientId,Mean_Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,Mean_TimeGapDays,Gender,Number_of_Appointments,Number_of_SMS_received,Number_of_No_shows,No_show_rate
0,39217,44.0,0,0,0,0,0,2.0,False,1,0,0,0.0
1,43741,39.0,0,0,1,0,0,-1.0,True,1,0,0,0.0
2,93779,33.0,0,0,0,0,0,-1.0,False,1,0,0,0.0
3,141724,12.0,0,0,0,0,0,2.0,True,1,0,0,0.0
4,537615,14.0,0,0,0,0,0,6.0,False,1,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61774,999931985292928,90.0,0,0,0,0,0,1.8,True,5,2,0,0.0
61775,999934989273974,5.0,0,0,0,0,0,-1.0,True,1,0,0,0.0
61776,999946536742891,65.0,1,1,0,0,0,-1.0,True,1,0,0,0.0
61777,999968578354866,81.0,0,0,0,0,0,-1.0,False,1,0,0,0.0
61778,999981631772427,1.0,0,0,0,0,0,-1.0,False,1,0,0,0.0

----------------------

In [39]:
# Alternative Code (smarter)
patients = df.groupby('PatientId').agg(
    Age=('Age', 'mean'), 
    Scholarship=('Scholarship', 'last'),
    Hipertension=('Hipertension', 'last'),
    Diabetes=('Diabetes', 'last'),
    Alcoholism=('Alcoholism', 'last'),
    Handcap=('Handcap', 'last'),
    Mean_TimeGapDays=('TimeGapDays', 'mean'),
    Gender=('Gender_M', 'first'),
    Number_of_Appointments=('AppointmentID', 'count'),
    Number_of_SMS_received=('SMS_received', 'sum'),
    Number_of_No_shows=('No-show', 'sum')
).reset_index()

In [40]:
# Calculating the No-show rate for each patient
patients['No_show_rate'] = patients['Number_of_No_shows'] / patients['Number_of_Appointments']

Filter the patients Dataset for all patients with 10 or more Appointments and a No-show rate of 100%.

In [41]:
patients

,PatientId,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,Mean_TimeGapDays,Gender,Number_of_Appointments,Number_of_SMS_received,Number_of_No_shows,No_show_rate
0,39217,44.0,0,0,0,0,0,2.0,False,1,0,0,0.0
1,43741,39.0,0,0,1,0,0,-1.0,True,1,0,0,0.0
2,93779,33.0,0,0,0,0,0,-1.0,False,1,0,0,0.0
3,141724,12.0,0,0,0,0,0,2.0,True,1,0,0,0.0
4,537615,14.0,0,0,0,0,0,6.0,False,1,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61774,999931985292928,90.0,0,0,0,0,0,1.8,True,5,2,0,0.0
61775,999934989273974,5.0,0,0,0,0,0,-1.0,True,1,0,0,0.0
61776,999946536742891,65.0,1,1,0,0,0,-1.0,True,1,0,0,0.0
61777,999968578354866,81.0,0,0,0,0,0,-1.0,False,1,0,0,0.0
61778,999981631772427,1.0,0,0,0,0,0,-1.0,False,1,0,0,0.0

In [42]:
# Filter patients with 10 or more appointments and a No-show rate of 100%
filtered_patients = patients[(patients['Number_of_Appointments'] >= 10) & (patients['No_show_rate'] == 1.0)]

# Display the filtered patients dataset
filtered_patients

,PatientId,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,Mean_TimeGapDays,Gender,Number_of_Appointments,Number_of_SMS_received,Number_of_No_shows,No_show_rate
39254,65751400000000,14.0,0,0,0,0,0,-1.0,True,13,0,13,1.0
45822,93388600000000,62.0,0,0,0,0,0,17.8,False,10,4,10,1.0
54875,563513528548171,9.0,1,0,0,0,0,-1.0,True,16,0,16,1.0
55160,581197334462339,7.0,0,0,0,0,0,-1.0,False,14,0,14,1.0

In [43]:
df

,No-show,SMS_received,AppointmentID,PatientId,Age,Gender_M,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,Neighbourhood,ScheduledDay,AppointmentDay,TimeGapDays
0,0,1,5217179,1423330000000,84.0,True,0,1,1,0,1,SANTO ANDRÉ,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,114
1,0,1,5218520,4616860000000,83.0,False,0,1,0,0,0,REDENÇÃO,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,114
2,0,1,5235449,55589600000000,74.0,False,0,0,0,0,0,MONTE BELO,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,108
3,0,1,5235643,91896900000000,70.0,False,0,1,1,0,0,GURIGICA,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,108
4,0,1,5235655,1534480000000,87.0,False,0,0,0,0,0,JUCUTUQUARA,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,0,0,5790461,729255235141745,54.0,True,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,-1
110523,0,0,5790464,947614361749238,43.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,-1
110524,0,0,5790466,356248000000,27.0,True,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,-1
110525,0,0,5790481,234132000000,30.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,-1
110526,0,0,5790484,5237160000000,27.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,-1

In [44]:
# Create a new column "prev No-show"
df['prev No-show'] = df.groupby('PatientId')['No-show'].cumsum() - df['No-show']
df

,No-show,SMS_received,AppointmentID,PatientId,Age,Gender_M,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,Neighbourhood,ScheduledDay,AppointmentDay,TimeGapDays,prev No-show
0,0,1,5217179,1423330000000,84.0,True,0,1,1,0,1,SANTO ANDRÉ,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,114,0
1,0,1,5218520,4616860000000,83.0,False,0,1,0,0,0,REDENÇÃO,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,114,0
2,0,1,5235449,55589600000000,74.0,False,0,0,0,0,0,MONTE BELO,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,108,0
3,0,1,5235643,91896900000000,70.0,False,0,1,1,0,0,GURIGICA,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,108,0
4,0,1,5235655,1534480000000,87.0,False,0,0,0,0,0,JUCUTUQUARA,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,108,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,0,0,5790461,729255235141745,54.0,True,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,-1,0
110523,0,0,5790464,947614361749238,43.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,-1,1
110524,0,0,5790466,356248000000,27.0,True,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,-1,0
110525,0,0,5790481,234132000000,30.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,-1,0
110526,0,0,5790484,5237160000000,27.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,-1,0

In [45]:
# Fill NaN values (for the first appointment of each patient) with 0
df['prev No-show'].fillna(0, inplace=True)

In [46]:
df[df.PatientId==563513528548171]

,No-show,SMS_received,AppointmentID,PatientId,Age,Gender_M,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,Neighbourhood,ScheduledDay,AppointmentDay,TimeGapDays,prev No-show
15896,1,0,5660217,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-05-04 15:50:42+00:00,2016-05-04 00:00:00+00:00,-1,0
15907,1,0,5660229,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-05-04 15:51:21+00:00,2016-05-04 00:00:00+00:00,-1,1
15930,1,0,5660307,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-05-04 16:05:24+00:00,2016-05-04 00:00:00+00:00,-1,2
15945,1,0,5660329,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-05-04 16:08:03+00:00,2016-05-04 00:00:00+00:00,-1,3
36237,1,0,5683664,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-05-11 07:44:51+00:00,2016-05-11 00:00:00+00:00,-1,4
36268,1,0,5683715,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-05-11 07:47:24+00:00,2016-05-11 00:00:00+00:00,-1,5
36335,1,0,5683836,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-05-11 07:55:08+00:00,2016-05-11 00:00:00+00:00,-1,6
75203,1,0,5740892,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-05-25 16:28:35+00:00,2016-05-25 00:00:00+00:00,-1,7
75217,1,0,5740926,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-05-25 16:34:32+00:00,2016-05-25 00:00:00+00:00,-1,8
87745,1,0,5757671,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-06-01 09:41:24+00:00,2016-06-01 00:00:00+00:00,-1,9
87838,1,0,5758108,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-06-01 10:16:17+00:00,2016-06-01 00:00:00+00:00,-1,10
87889,1,0,5758287,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-06-01 10:32:44+00:00,2016-06-01 00:00:00+00:00,-1,11
88473,1,0,5761192,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-06-01 16:38:28+00:00,2016-06-01 00:00:00+00:00,-1,12
109182,1,0,5785685,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-06-08 07:32:52+00:00,2016-06-08 00:00:00+00:00,-1,13
109229,1,0,5785810,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-06-08 07:41:10+00:00,2016-06-08 00:00:00+00:00,-1,14
109373,1,0,5786157,563513528548171,9.0,True,1,0,0,0,0,SÃO JOSÉ,2016-06-08 08:03:30+00:00,2016-06-08 00:00:00+00:00,-1,15

Some observations have the non-intuitive value -1 in the column TimeGapDays which is the time gap between ScheduledDay and AppointmentDay. Identify the reason for getting the value -1 and propose an alternative way to calculate the timegap without negative values.

In [47]:
df

,No-show,SMS_received,AppointmentID,PatientId,Age,Gender_M,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,Neighbourhood,ScheduledDay,AppointmentDay,TimeGapDays,prev No-show
0,0,1,5217179,1423330000000,84.0,True,0,1,1,0,1,SANTO ANDRÉ,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,114,0
1,0,1,5218520,4616860000000,83.0,False,0,1,0,0,0,REDENÇÃO,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,114,0
2,0,1,5235449,55589600000000,74.0,False,0,0,0,0,0,MONTE BELO,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,108,0
3,0,1,5235643,91896900000000,70.0,False,0,1,1,0,0,GURIGICA,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,108,0
4,0,1,5235655,1534480000000,87.0,False,0,0,0,0,0,JUCUTUQUARA,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,108,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,0,0,5790461,729255235141745,54.0,True,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,-1,0
110523,0,0,5790464,947614361749238,43.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,-1,1
110524,0,0,5790466,356248000000,27.0,True,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,-1,0
110525,0,0,5790481,234132000000,30.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,-1,0
110526,0,0,5790484,5237160000000,27.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,-1,0

In [48]:
# Convert 'ScheduledDay' and 'AppointmentDay' columns to datetime objects explicitly
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'], utc=True)
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'], utc=True)

# Calculate the time gap without negative values
df['TimeGapDays'] = (df['AppointmentDay'].dt.floor('D') - df['ScheduledDay'].dt.floor('D')).dt.days

In [49]:
df

,No-show,SMS_received,AppointmentID,PatientId,Age,Gender_M,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,Neighbourhood,ScheduledDay,AppointmentDay,TimeGapDays,prev No-show
0,0,1,5217179,1423330000000,84.0,True,0,1,1,0,1,SANTO ANDRÉ,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,115,0
1,0,1,5218520,4616860000000,83.0,False,0,1,0,0,0,REDENÇÃO,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,115,0
2,0,1,5235449,55589600000000,74.0,False,0,0,0,0,0,MONTE BELO,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,109,0
3,0,1,5235643,91896900000000,70.0,False,0,1,1,0,0,GURIGICA,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,109,0
4,0,1,5235655,1534480000000,87.0,False,0,0,0,0,0,JUCUTUQUARA,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,109,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,0,0,5790461,729255235141745,54.0,True,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,0,0
110523,0,0,5790464,947614361749238,43.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,0,1
110524,0,0,5790466,356248000000,27.0,True,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,0,0
110525,0,0,5790481,234132000000,30.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,0,0
110526,0,0,5790484,5237160000000,27.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,0,0

In [50]:
df

,No-show,SMS_received,AppointmentID,PatientId,Age,Gender_M,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,Neighbourhood,ScheduledDay,AppointmentDay,TimeGapDays,prev No-show
0,0,1,5217179,1423330000000,84.0,True,0,1,1,0,1,SANTO ANDRÉ,2016-01-05 11:53:44+00:00,2016-04-29 00:00:00+00:00,115,0
1,0,1,5218520,4616860000000,83.0,False,0,1,0,0,0,REDENÇÃO,2016-01-05 15:02:46+00:00,2016-04-29 00:00:00+00:00,115,0
2,0,1,5235449,55589600000000,74.0,False,0,0,0,0,0,MONTE BELO,2016-01-11 08:52:35+00:00,2016-04-29 00:00:00+00:00,109,0
3,0,1,5235643,91896900000000,70.0,False,0,1,1,0,0,GURIGICA,2016-01-11 09:08:10+00:00,2016-04-29 00:00:00+00:00,109,0
4,0,1,5235655,1534480000000,87.0,False,0,0,0,0,0,JUCUTUQUARA,2016-01-11 09:09:10+00:00,2016-04-29 00:00:00+00:00,109,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,0,0,5790461,729255235141745,54.0,True,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:32:25+00:00,2016-06-08 00:00:00+00:00,0,0
110523,0,0,5790464,947614361749238,43.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:32:56+00:00,2016-06-08 00:00:00+00:00,0,1
110524,0,0,5790466,356248000000,27.0,True,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:33:23+00:00,2016-06-08 00:00:00+00:00,0,0
110525,0,0,5790481,234132000000,30.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 19:58:52+00:00,2016-06-08 00:00:00+00:00,0,0
110526,0,0,5790484,5237160000000,27.0,False,0,0,0,0,0,JARDIM CAMBURI,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,0,0

In [51]:
df["No-show"]

0         0
1         0
2         0
3         0
4         0
         ..
110522    0
110523    0
110524    0
110525    0
110526    0
Name: No-show, Length: 110527, dtype: int64

In [53]:
df.SMS_received

0         1
1         1
2         1
3         1
4         1
         ..
110522    0
110523    0
110524    0
110525    0
110526    0
Name: SMS_received, Length: 110527, dtype: int64

In [54]:
# Define a function to remove special characters from column names
def remove_special_characters(column_name):
    # Use regex to remove all characters that are not letters or digits
    return ''.join(e for e in column_name if e.isalnum())

# Rename columns by applying the function to each column name
df.rename(columns=remove_special_characters, inplace=True)

# Display the DataFrame with updated column headers
print(df)

        Noshow  SMSreceived  AppointmentID        PatientId   Age  GenderM  \
0            0            1        5217179    1423330000000  84.0     True
1            0            1        5218520    4616860000000  83.0    False
2            0            1        5235449   55589600000000  74.0    False
3            0            1        5235643   91896900000000  70.0    False
4            0            1        5235655    1534480000000  87.0    False
...        ...          ...            ...              ...   ...      ...
110522       0            0        5790461  729255235141745  54.0     True
110523       0            0        5790464  947614361749238  43.0    False
110524       0            0        5790466     356248000000  27.0     True
110525       0            0        5790481     234132000000  30.0    False
110526       0            0        5790484    5237160000000  27.0    False

        Scholarship  Hipertension  Diabetes  Alcoholism  Handcap  \
0                 0             1         1           0        1
1                 0             1         0           0        0
2                 0             0         0           0        0
3                 0             1         1           0        0
4                 0             0         0           0        0
...             ...           ...       ...         ...      ...
110522            0             0         0           0        0
110523            0             0         0           0        0
110524            0             0         0           0        0
110525            0             0         0           0        0
110526            0             0         0           0        0

         Neighbourhood              ScheduledDay            AppointmentDay  \
0          SANTO ANDRÉ 2016-01-05 11:53:44+00:00 2016-04-29 00:00:00+00:00
1             REDENÇÃO 2016-01-05 15:02:46+00:00 2016-04-29 00:00:00+00:00
2           MONTE BELO 2016-01-11 08:52:35+00:00 2016-04-29 00:00:00+00:00
3             GURIGICA 2016-01-11 09:08:10+00:00 2016-04-29 00:00:00+00:00
4          JUCUTUQUARA 2016-01-11 09:09:10+00:00 2016-04-29 00:00:00+00:00
...                ...                       ...                       ...
110522  JARDIM CAMBURI 2016-06-08 19:32:25+00:00 2016-06-08 00:00:00+00:00
110523  JARDIM CAMBURI 2016-06-08 19:32:56+00:00 2016-06-08 00:00:00+00:00
110524  JARDIM CAMBURI 2016-06-08 19:33:23+00:00 2016-06-08 00:00:00+00:00
110525  JARDIM CAMBURI 2016-06-08 19:58:52+00:00 2016-06-08 00:00:00+00:00
110526  JARDIM CAMBURI 2016-06-08 20:07:23+00:00 2016-06-08 00:00:00+00:00

        TimeGapDays  prevNoshow
0               115           0
1               115           0
2               109           0
3               109           0
4               109           0
...             ...         ...
110522            0           0
110523            0           1
110524            0           0
110525            0           0
110526            0           0

[110527 rows x 16 columns]

In [ ]:
df